*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  background-color: #0d0714;
}

.container {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.todoForm {
  width: 435px;
  margin: 0 auto;
  margin-top: 159px;
  display: flex;
  gap: 10px;
  margin-bottom: 59px;
}

.todoForm input {
  width: 381px;
}

.todoList li {
  background-image: url(/src/img/Check.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.todoForm input {
  padding: 11px 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  color: #777777;
  background-color: #0d0714;
  border-radius: 8px;
  border: 1px solid #3e1671;
}

button {
  background-color: #9e78cf;
  border: none;
  padding: 9px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}


button:hover {
  background-color: lightcoral;
}

.todoText {
  margin: 0 auto;
  width: 435px;
}

.todoList {
  padding: 0;
  width: 435px;
  margin: 0 auto;
}

.todoList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  color: #9e78cf;
  list-style: none;
  padding: 21px;
  background-color: #15101c;
  border-radius: 8px;
  margin-bottom: 16px;
}

.todoList p {
  display: flex;
  
}

.todoText h5 {
  color: #fff;
  margin-bottom: 17px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
}

.todoList button {
  background-color: transparent;
  color: #9e78cf;
}

.btn {
  width: 200px;
  margin: 0 auto;
}

.clearBtn {
  background-color: rgba(215, 32, 32, 0.929);
  color: white;

}

.clearBtn:hover {
  background-color: rgb(71, 21, 21);
}

