*{
  margin: 0;
  padding: 0;
  font-family: "Barlow";
}

body {
 text-align: left;
 background-color: #e8e8e8;
}

.container {
  padding-left: 150px;
  padding-right: 150px;
  width: 990px;
}

hr {
  padding-right: 50px;
  margin-bottom: 50px;
}

h1 {
  margin-bottom: 20px;
  margin-top: 25px;
  color: #A82D2D;
}

.box p {
  width: 400px;
  color: #737373;
}

.box a {
  text-decoration: none;
  color: #A82D2D;
}

.header {
  width: 1000px;
  margin-inline: auto;
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 250px;
}

.nav {
  display: flex;
  list-style: none;
  gap: 48px;
}

.nav a{
  font-size: 13px;
  text-decoration: none;
  color: #A82D2D;
  line-height: 1.2em;
}