*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* AYSU */

.container {
  width: 375px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 2px solid #EAEBF0;

}

.header-content {
  display: flex;
  align-items: center;
  gap: 70px;
}

.menu-item {
  display: none;
}

.button-area {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 343px;
  gap: 16px;
  padding: 16px;
}

.content h1 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #272D37;
}

.content p {
  font-family: 'Inter' , sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #5F6D7E;
}

.safe-area {
  display: flex;
  gap: 16px;
  align-items: center;
}

.safe-area span {
  background-color: #F5FAFF;
  padding: 3px 5px;
  border-radius: 5px;
  color: #437EF7;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;

}

.avatar-area {
  display: flex;
  gap: 16px;
  align-items: center;
}

.avatar-area p {
  font-family: 'Inter' , sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #272D37;
}

.avatar-area span {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #5F6D7E;
}


@media (width >= 768px) {
  .container {
      width: 768px;
      margin: 0 auto;
  }

  .content {
    width: 704px;
  }


}

@media (width >= 1440px) {
 

  .container {
      width: 1440px;
      margin: 0 auto;
     /*  justify-content: center; */
      align-items: center;
  } 

  .hamburger {
      display: none;
  }

  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1280px;
  }

  .header-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .content {
    width: 1280px;
  }

  .menu-item {
      display: flex;
      list-style: none;
      gap: 32px;
      font-family: 'Inter' , sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 22px;
      text-align: left;

  }

  .button-area {
      display: flex;
      align-items: center;
      gap: 16px;
  }

  .signup {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: transparent;
      color: #437EF7;
      font-size: 15px;
      font-weight: 600;
      line-height: 22px;
      text-align: left;
      font-family: 'Inter' , sans-serif;

  }

  .login {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-radius: 6px;
      background-color: #437EF7;
      color: white;
      font-family: Inter;
      font-size: 15px;
      font-weight: 600;
      line-height: 22px;
      text-align: left;
      border: none;
  }

  .menu-item li {
      display: flex;
      align-items: center;
      gap: 12px;
  }

  .menu-item li:nth-child(3n) {
      font-family: 'Inter' , sans-serif;
      font-size: 15px;
      font-weight: 600;
      line-height: 22px;
      text-align: left;
      color: #272D37;
  }
}

/* AYSU */

/* SILA */

.main-contents {
  text-align: left;
  margin: 0 auto;
  width: 343px;
}

.main h3 {
  margin: auto;
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.01em;
  text-align: left;
  font-family: "Inter", sans-serif;
  color: #272D37;
  margin-bottom: 24px;
  margin-top: 48px;
}

.main p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #5F6D7E;
  margin-bottom: 24px;
}

.merdiven-mobile {
  display: block;
  margin-bottom: 16px;
}

.merdiven-tablet {
  display: none;
}

.merdiven-desktop {
  display: none;
}

.dekor-mobile {
  display: block;
  margin-bottom: 16px;
}

.dekor-tablet {
  display: none;
}

.dekor-desktop {
  display: none;
}

.question-btns {
  width: 343px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 48px;
}

.question-btns h2 {
  font-family: 'Inter' , sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #272D37;
}

.question-btns a {
  width: 46px;
  padding: 8px;
  gap: 8px;
  border-radius: 6px;
  border: 1px;
  border: 1px solid #DAE0E6;
  box-shadow: 0px 1px 2px 0px #1018280A;
}

.blue-btn {
  text-align: center;
  margin-bottom: 48px;
}

.blue-btn a {
  background-color: #437EF7;
  width: 128px;
  padding: 12px 18px;
  gap: 6px;
  border-radius: 6px;
  text-decoration: none;
  color: #ffff;
  box-shadow: 0px 1px 2px 0px #1018280A;
}

.aside {
  display: none;
}

@media(width >= 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
    
  .main-contents {
    width: 704px;
    margin: 0 auto;
  }

  .main h3 {
    margin: auto;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.02em;
    font-family: "Inter", sans-serif;
    color: #272D37;
    margin-bottom: 24px;
    margin-top: 48px;
    text-align: left;
  }

  .main p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #5F6D7E;
    margin-bottom: 24px;
  }

  .merdiven-mobile {
    display: none;
  }

  .merdiven-tablet {
    display: block;
    margin-bottom: 16px;
  }

  .merdiven-desktop {
    display: none;
  }

  .dekor-mobile {
    display: none;
  }

  .dekor-tablet {
    display: block;
    margin-bottom: 16px;
  }

  .dekor-desktop {
    display: none;
  }

  .aside {
    display: none;
  }

  .question-btns {
    width: 704px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 48px;
  }

  .question-btns h2 {
    font-family: 'Inter' , sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #272D37;
    margin-right: 230px;
  }

  .question-btns a {
    width: 46px;
    padding: 8px;
    gap: 8px;
    border-radius: 6px;
    border: 1px;
    border: 1px solid #DAE0E6;
    box-shadow: 0px 1px 2px 0px #1018280A;
  }

  .blue-btn {
    text-align: center;
    margin-bottom: 48px;
  }

  .blue-btn a {
    background-color: #437EF7;
    width: 128px;
    padding: 12px 18px;
    gap: 6px;
    border-radius: 6px;
    text-decoration: none;
    color: #ffff;
    box-shadow: 0px 1px 2px 0px #1018280A;
  }
}

@media(width >= 1440px) {

  .container {
    width: 1440px;
    margin: 0 auto;
  } 

  .main-contents {
    text-align: left;
    display: flex;
    gap: 40px;
    margin: 0 auto;
    width: 1280px;
    padding: 24px 80px;
  }

  .main {
    width: 840px;
  }

  .main h3 {
    margin: auto;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: left;
    font-family: "Inter", sans-serif;
    color: #272D37;
    margin-bottom: 24px;
    margin-top: 48px;
  }

  .main p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #5F6D7E;
    margin-bottom: 24px;
  }

  .merdiven-mobile {
    display: none;
  }

  .merdiven-tablet {
    display: none;
  }

  .merdiven-desktop {
    display: block;
    margin-bottom: 16px;
  }

  .dekor-mobile {
    display: none;
  }

  .dekor-tablet {
    display: none;
  }

  .dekor-desktop {
    display: block;
    margin-bottom: 16px;
  }

  .aside {
    display: block;
    width: 328px;
    padding: 24px 24px;
    gap: 32px;
    border-radius: 10px;
    border: 1px solid #EAEBF0;
    box-shadow: 0px 1px 2px 0px #1018280A;
 /*    position: fixed; */
    right: 60px;
    height: fit-content;
  }

  .aside h6 {
    font-family: 'Inter' , sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
  }

  .aside h4 {
    margin-bottom: 24px;
    font-family: 'Inter' , sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;

  }

  .aside img {
    margin-right: 6px;
  }

  .aside a {
    text-decoration: none;
    color: #437EF7;
    margin-bottom: 18px;
    column-gap: 6px;
    display: flex;
  }

  .question-btns {
    width: 840px;
    margin-bottom: 48px;
  }

  .question-btns h2 {
    margin-right: 375px;
  }

  .blue-btn {
    width: 1275px;
    margin-bottom: 48px;
  }

} 

/* SILA */

/* FURKAN */

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

  

.container {
  width: 375px;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}

.contact_us {
  text-align: center;
  align-items: center;
  padding: 32px 16px;
}

.contact_us img {
  margin: 0 auto;
  margin-bottom: 16px;
}

.contact_us_top h2 {
  color: #272D37;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.02em;
  margin-bottom: 12px;
  font-family: "Inter", sans-serif;
}

.contact_us_top p {
  color: #5F6D7E;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: center;
  margin-bottom: 32px;
  font-family: "Inter", sans-serif;
}

.contact_us_cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.contact_us_cards h2 {
  color: #272D37;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
  font-family: "Inter", sans-serif;
}

.contact_us_cards p {
  color: #5F6D7E;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
}

.contact_us_card {
  border: 1px solid #EAEBF0;
  padding: 16px;
  border-radius: 8px;
}

footer {
  width: 375px;
  background-color: #151B28;
  padding: 32px 16px;
  margin: 0 auto;
}

.register_section {
  display: flex;
  flex-direction: column;
}

.register_section h2 {
  color: #F9F9F9;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 16px;
  font-family: "Inter", sans-serif;
}

.register_section a:nth-child(2) {
  width: 343px;
  height: 48px;
  background-color: #437EF7;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  padding: 13px 144px;
  font-family: "Inter", sans-serif;
  margin-bottom: 16px;
}

.register_section a:nth-child(3) {
  width: 343px;
  height: 48px;
  background-color: #2C3444;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  padding: 13px 134px;
  margin-bottom: 24px;
  font-family: "Inter", sans-serif;
}

.footer_main {
  border-top: 1px solid #2E3545;
  padding-top: 24px;
}

.footer_texts img {
  margin-bottom: 22px;
}

.footer_texts p {
  color: #A5ACBA;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  margin-bottom: 24px;
  font-family: "Inter", sans-serif;
}

.footer_main {
  display: flex;
  flex-wrap: wrap;
  width: 343px;
  gap: 16px;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid #2E3545;
}

.footer_main ul {
  width: 150px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.footer_main h3  {
  color: #F9F9F9;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  margin-bottom: 16px;
  font-family: "Inter", sans-serif;
  }

.footer_main li {
  color: #5F6D7E;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  font-family: "Inter", sans-serif;
  margin-bottom: 12px;
}

.footer_bottom {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
}

.socials {
  display: flex;
  gap: 24px;
}

.footer_bottom p {
  color: #A5ACBA;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  font-family: "Inter", sans-serif;
}

@media (width >= 768px) {
  .container {
      width: 768px;
      margin: 0 auto;
  }

  .contact_us {
      width: 768px;
      padding: 40px 32px;
      margin: 0 auto;
  }

  .contact_us_cards {
      display: flex;
      flex-direction: row;
  }

  .contact_us_card {
      width: 336px;
      padding: 32px;
  }

  .contact_us_top h2 {
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: -0.02em;
  }

  .contact_us_top p {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.10000000149011612px;
  }

  footer {
      width: 768px;
      padding: 40px 32px;
  }

  .register_section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }

  .register_section h2 {
      font-size: 32px;
      font-weight: 600;
      line-height: 42px;
      letter-spacing: -0.01em;
      margin-bottom: 32px;
  }

  .register_section a:nth-child(2) {
      width: 91px;
      padding: 12px 18px;
      margin-right: 16px;
      margin-bottom: 32px;
  }
  
  .register_section a:nth-child(3) {
      width: 91px;
      padding: 12px 8px;
      margin-bottom: 32px;
  }

  .footer_main {
      width: 704px;
  }

  .footer_texts {
      width: 448px;
      height: 128px;
  }

  .footer_texts p {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: -0.10000000149011612px;
      text-align: left;
      width: 247px;
  }
}

@media (width >= 1440px) {

  .container {
    width: 1440px;
    margin: 0 auto;
  }

  .contact_us {
      width: 1440px;
      padding: 64px 80px;
      margin: 0 auto;
  }

  .contact_us_cards {
      justify-content: center;
  }

  .contact_us_card {
      width: 592px;
  }

  footer {
      width: 1440px;
      padding: 40px 80px;
  }

  .register_section h2 {
      width: 901px;
      margin-right: 180px;
  }

  .footer_main {
      width: 1280px;
      padding-top: 48px;
      padding-bottom: 64px;
  }

  .footer_texts p {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: -0.10000000149011612px;
      text-align: left;
  }

  .footer_main ul li {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.10000000149011612px;
      text-align: left;
  }

}

/* FURKAN */