*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, p {
  margin-bottom: 30px;
}

.container {
  margin: 0 auto;
  width: 1550px;
  padding: 120px 150px;
  background-color: rgb(253, 195, 247);
  color: rgb(170, 0, 125);
  border-radius: 15px;
  font-family: system-ui;
  list-style-type: circle;
}

li {
  margin-bottom: 10px;
}

.postContent hr {
  border: 1px solid  rgb(170, 0, 125);
  margin-bottom: 5px;
  margin-top: 10px;
  opacity: 0.8;
}