:root{
  --primary-color:#FFFFFF;
  --primary-accent-color: #d9d9d9;
  --secondary-color:#242424;
  --dark-color:#151515;
  --light-color:#4EE1A0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Space Grotesk", sans-serif;
  margin: 0 auto;
}

.container {
  background-color: var(--dark-color);
  color: var(--primary-color);
  width: 375px;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

h3{
  font-family: "Space Grotesk", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 25px;
  margin-bottom: 80px;
}

p {
  color: var(--primary-accent-color);
  margin-bottom: 24px;
}

a {
  color: var(--primary-accent-color);
  text-decoration: none;
}

.btn {
  background-color: var(--primary-color);
  border-radius: 25px;
  padding: 8px 27px;
  margin-bottom: 40px;
}

.hero-text a:hover {
  background-color: var(--light-color);
  color: var(--primary-color);
}

.projects-header a:hover {
  background-color: var(--light-color);
  color: var(--primary-color);
}

.projects-item a:hover {
  color: var(--light-color);
}

hr{
  width: 345px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.header {
  width: 154px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.nav {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0 auto;
  margin-bottom: 49px;
}

.hero img {
  width: 174px;
  margin-bottom: 40px;
  border-radius: 90px;
}

.hero-text {
  width: 343px;
  margin: 0 auto;
}

.projects-header {
  margin: 0 auto;
  width: 343px;
  display: flex;
  justify-content: space-between;
}

.projects-content {
  display: grid;
  grid-template-columns: repeat(1fr, 2);
  grid-template-rows: repeat(1fr, 8);
  column-gap: 10px;
  row-gap: 10px;
}

.projects-content img{
  width: 343px;
}

.projects-item li{
  margin-bottom: 20px;
}

.projects-item img{
  margin-bottom: 20px;
}




.footer {
  width: 154px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.footer-nav {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0 auto;
  margin-bottom: 49px;
}

/* @media (width >= 768px) {
  .container {
    width: 768px;
  }

  .header {
    width: 709px;
    display: flex;
    justify-content: space-between;
  }






} */