* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

body {
  width: 1440px;
}

.container {
  margin: 0 auto;
  background-color: rgba(5, 40, 91, 1);
  padding: 40px 100px;
}

.container h2 {
 width: 500px;
 font-size: 60px;
 color: rgba(255, 255, 255, 1);
 margin-bottom: 12px;
}

.content p {
  width: 500px;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 32px;
}

.container a {
  width: 281px;
  padding: 16px 72px 16px 72px;
  gap: 16px;
  border-radius: 3px;
  opacity: 0px;
  background-color: rgba(220, 53, 69, 1);
  text-decoration: none;
  color: #fff;
  margin-bottom: 432px;
}

.content {
  display: flex;
  align-items: center;
}


.middle {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

h5 {
  color: white;
}





